<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/design.css')}}">
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <title>Cloud Service</title>
    <script language="javascript">
        function Validation(thisform)
        {        
          with(thisform)
          {
            if(fname.value=="")
            {
              alert("Please Enter File Name...!");
              fname.focus();
              return false;
            }
          }
          with(thisform)
          {            
            if(file.value=="")
            {
              alert("Please Select File...!");
              file.focus();
              return false;
            }
          }        
        }

        function fileValidation()
        {
          var file = document.getElementById("ufile").value;
          if(file!='')
          {
            var checkfile = file.toLowerCase();
            if (!checkfile.match(/(\.doc|\.docx|\.pdf|\.txt)$/))
		        {               
              alert("Invalid File Type")	
			        document.getElementById("ufile").value="";	
			        document.getElementById("ufile").focus();
              return false;
            }
          
		        var file = document.getElementById("ufile"); 
            //alert(file.files[0].size);
            if(file.files[0].size < 25)
            {
			        alert('File Size too Short'); 
			        document.getElementById("ufile").value="";	
			        document.getElementById("ufile").focus();			
              return false;
            }		  
           return true;
          }
        }
    </script>
</head>
<body>
    <div class="container mt-2 d-flex bg-primary text-white">
        <h2 class="text-center">SECURE DATA STORAGE AND SHARING TECHNIQUES FOR DATA PROTECTION IN CLOUD ENVIRONMENTS</h2>
    </div>     

    <div class="container no-padding"> 
      <nav class="navbar no-padding navbar-expand-md bg-dark navbar-dark">        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('senderhome') }}">Home</a>
            </li>
            <li class="nav-item bg-success">
              <a class="nav-link active" href="{{ url_for('senderupload') }}">Upload Files</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('senderviewfile') }}">View Files</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('senderqueryanalysis')}}">Query Analysis</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>          
          </ul>
        </div>
      </nav>
    </div>   

    <div class="container no-padding hheight mb-2 bg-light">         
        
        <div class="row signup w-50 bg-light">           
            <div class="col-sm-12 col-md-12 px-3">
              
                <form name="form1" method="post" action="/sendersavefile" enctype="multipart/form-data" onsubmit="return Validation(this)">

                    <div class="row px-3 mb-3">
                      <p class="divider-text">
                        <span class="bg-light">Upload Files</span>
                      </p>
                    </div>        
                    <div class="row mt-3 mb-3">
                      <div class="col">
                        <input type="text" name="fname" class="form-control" placeholder="File Name">  
                      </div>                      
                    </div>                    
                    <div class="row mt-3 mb-3">
                      <div class="col">
                        <input type="file" name="file" id="ufile" class="form-control" onchange="return fileValidation()"> 
                      </div>
                    </div>                   
                            
                    <div class="row mt-3">
                      <div class="col">
                        <div class="d-grid gap-3"> 
                          <input name="submit" value="UPLOAD" type="submit" class="btn btn-primary">
                        </div> 
                      </div>
                    </div>
        
                  </form>
                  <div class="row mt-3 mb-3">
                    <div class="col">
                      <label style="color:black">{{ msg }}</label>
                    </div>
                  </div>  

                 
            </div>
        </div>
    </div>
</body>
</html>